/**
 * Rising Fruit Global Styles
 * 
 * Note: Most styling is now handled by Mantine.
 * This file contains only:
 * - Base reset styles
 * - Mapbox GL control overrides for dark theme
 */

/* Reset and base styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mapbox control overrides for dark theme */
.mapboxgl-ctrl-group {
  background: #171717 !important;
  border: 1px solid #404040 !important;
  box-shadow: 0 4px 12px -2px rgb(0 0 0 / 0.4) !important;
}

.mapboxgl-ctrl-group button {
  background-color: transparent !important;
}

.mapboxgl-ctrl-group button + button {
  border-top: 1px solid #404040 !important;
}

.mapboxgl-ctrl-icon {
  filter: invert(1) !important;
}

.mapboxgl-ctrl-geolocate {
  width: 44px !important;
  height: 44px !important;
}

.mapboxgl-ctrl-geolocate-active .mapboxgl-ctrl-icon {
  filter: invert(0) sepia(1) saturate(5) hue-rotate(90deg) !important;
}
